.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    border: 2px solid rgb(64, 70, 60);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 50px;
    padding-right: 50px;
}

.siteName {
    font-weight: bold;
    font-size: xx-large;
    text-transform: lowercase;
    font-family: 'Caveat', cursive;
    color: rgb(49, 56, 6);
    box-shadow: 20px black;
    margin-right: 50px;
    font-size: 50px;
    text-shadow: 1px 1px rgb(136, 136, 209);
}

.logo {
    margin-left: 50px;
}

.strong {
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
}