.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid rgb(64, 70, 60);
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 3px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-around;
}

.siteName {
    font-family: 'Caveat', cursive;
    color: hsla(16, 100%, 50%, 0.8);
    font-size: 45px;
    cursor: default;
    margin-left: 130px;
}

.logo {
    margin-left: 50px;
    padding: 10px;
}

.strong {
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
}