.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(64, 70, 60); */
    background: rgb(26, 31, 62);
    max-width: 25%;
    height: 100%;
    margin: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.siteName {
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 30px;
    cursor: default;
    text-align: center;
}

.strong {
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
}