.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 65, 148);
  height: 100vh;
  margin-left: 300px;
}

.info {
  font-size: 70px;
  font-family: cursive;
  letter-spacing: 5px;
  margin-left: 40px;
  color: azure;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descrTitle {
  font-family: cursive;
  font-size: 40px;
  letter-spacing: 5px;
  margin-left: 350px;
  margin-top: 20px;
}

.genereateInfo {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  font-family: cursive;
  text-align: center;
  margin-left: 400px;
  justify-content: center;
  align-items: center;
}

.block {
  margin: 40px;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 1520px) {
  .home,
  .info,
  .descrTitle,
  .genereateInfo {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .genereateInfo {
    flex-direction: column;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .descrTitle {
    font-size: 19px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .info {
    font-size: 25px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .block{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
