.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: rgb(26, 31, 62);
    height: 100%;
    margin: 0;
    transition: all 0.4s;
}

.logo {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.siteName {
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 30px;
    cursor: default;
    text-align: center;
}

.strong {
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
}

.burgerClick {
    width: 50px;
    height: 50px;
    background-image: url('../../public/img/hamburger-button.png');
    position: absolute;
    margin: 20px;
    cursor: pointer;
    transform: translateX(-200%);
}

@media (max-width: 1520px) {
    .navbar {
        transform: translateX(-200%);
        align-items: center;
        text-align: center;
        overflow: hidden;
    }

    .burgerClick {
        transform: translateX(0);
        margin: 0;
        margin-top: 30px;
        margin-left: 10px;
    }

    .navbar.activated {
        transform: translateX(0);
        width: 100%;
    }
}

@media (max-width: 768px) {
    .logo {
        flex-direction: column;
        margin-bottom: 20px;
    }
}