.menu {
    display: flex;
    flex-direction: row;
}

.active {
    color: green;
    font-weight: bold;
}

.activ {
    text-decoration: none;
    font-size: large;
    font-family: cursive;
    margin-left: 10px;
}