.menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.9);
    border: 2px solid rgb(64, 70, 60);
    border-radius: 10px;
    padding: 10px;
}

.active {
    color: green;
    font-weight: bold;
}

.activ {
    text-decoration: none;
    font-size: large;
    font-family: cursive;
}