.menu {
    display: flex;
    flex-direction: column;
}

.active {
    font-weight: bold;
    background-color: rgb(62, 151, 253);
    border-radius: 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 25px;
    font-family: cursive;
    padding: 10px;
    margin: 20px;
    color: rgb(191, 221, 255);
}

.nav-link :hover {
    font-weight: bold;
    color: aliceblue;
}

@media (max-width: 768px) {
    .nav-link {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}