.numbersform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 350px;
    font-family: cursive;
    margin-top: 100px;
}
.numbersform > button {
    margin-bottom: 20px;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    height: 40px;
}
.result {
    font-size: 100px;
    color: rgb(22, 65, 148);
    margin-bottom: 30px;
}
.btn-number:hover {
    box-shadow: 1px 1px 1px rgb(134, 127, 127);
    background-color: rgb(3, 118, 212);
    color: white;
}
.hr {
    width: 500px;
    margin-top: 30px;
}
.range {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.min, .max {
    margin: 20px;
    width: 200px;
    height: 30px;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(22, 65, 148);
}
.lenght {
    font-size: 30px;
    color: rgb(22, 65, 148);
    margin: 30px;
}
.er {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.is-invalid {
    border: 1px solid red;
}

@media (max-width: 1520px) {
    .numbersform{
        margin-left: 0px;
    }
}
@media (max-width: 768px) {
    .range {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .hr {
        width: 300px;
        margin-top: 10px;
    }
    .lenght {
        margin: 20px;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .min, .max {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .result {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
    }
    .numbersform {
        margin-top: 30px;
    }
    .btn-number {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}