.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.passwordContainer {
    border-radius: 10px;
    text-align: center;
    animation: password 1s;
    margin-top: 100px;
    margin-left: 350px;
}
@keyframes password {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.password {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid rgba(0, 0, 255, 0.5);
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
.title {
    font-family: cursive;
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
    cursor: default;
}
hr {
    margin-left: 10px;
    margin-right: 10px;
}
.setup {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    font-family: cursive;
    justify-content: space-around;
    margin-top: 40px;
}
.setupCheckBox {
    display: flex;
    flex-direction: column;
    text-align: right;
}

#lengthPassword {
    margin-left: 10px;
}
.btn {
    margin-bottom: 20px;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
.btn:hover {
    box-shadow: 1px 1px 1px rgb(134, 127, 127);
    background-color: rgb(3, 118, 212);
    color: white;
}
.descriptions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: cursive;
}
.descriptionTitle {
    font-size: 20px;
    text-align: center;
}
.noteTitle {
    font-size: 20px;
    margin-left: 200px;
    color: rgb(22, 65, 148);
    margin-bottom: 30px;
    margin-top: 30px;
}
.noteDescription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}
.descr {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(83, 83, 83);
}
.logoimg {
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgb(22, 65, 148);
    margin-top: 10px;
    margin-bottom: 20px;
}
@media (max-width: 1520px) {
    .passwordContainer {
        margin-left: 0;
        margin-top: 50px;
    }
    .descriptions {
        margin-left: 0;
    }
}
@media (max-width: 1200px) {
    .noteDescription {
        margin-left: 20px;
        margin-right:20px;
    }
}
@media (max-width: 768px) {
    .setup {
        flex-direction: column;
    }
    .setupCheckBox {
        margin-top: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .setupCheckBox > label {
        margin-top: 10px;
    }
    .password {
        font-size: 15px;
        margin-right: 0px;
        margin-left: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .title {
        text-align: center;
        margin-left: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .noteDescription {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
    .noteTitle {
        margin-left: 0;
        text-align: center;
    }
    .descriptions {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .descr {
        text-align: center;
    }
    .btn {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 40px;
    }
    .setupRange {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}