.password {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    border: 2px solid black;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    font-family: cursive;
}

.title {
    font-family: cursive;
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
}

.setup {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    font-family: cursive;
    justify-content: space-around;
    margin-top: 40px;
}

.setupCheckBox {
    display: flex;
    flex-direction: column;
    text-align: right;
}
#lengthPassword {
    margin-left: 10px;
}

.btn {
    margin-bottom: 20px;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.btn:hover {
    box-shadow: 1px 1px 1px rgb(134, 127, 127);
    background-color: rgb(3, 118, 212);
    color: white;
}