.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.titlePage {
    background: rgb(22, 65, 148);
    width: 100%;
    padding-left: 700px;
    margin-left: 200px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.item2 {
    border-radius: 10px;
    text-align: center;
    animation: password 1s;
    margin-top: 100px;
    margin-left: 300px;
}

@keyframes password {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.password {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid rgba(0, 0, 255, 0.5);
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

.title {
    font-family: cursive;
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
    cursor: default;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
}

.setup {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    font-family: cursive;
    justify-content: space-around;
    margin-top: 40px;
}

.setupCheckBox {
    display: flex;
    flex-direction: column;
    text-align: right;
}

#lengthPassword {
    margin-left: 10px;
}

.btn {
    margin-bottom: 20px;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.btn:hover {
    box-shadow: 1px 1px 1px rgb(134, 127, 127);
    background-color: rgb(3, 118, 212);
    color: white;
}

@media (max-width: 1520px) {
    .item2 {
        margin-left: 0;
        margin-top: 50px;
    }

    .titlePage {
        margin-left: 0;
        padding-left: 0;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .setup {
        flex-direction: column;
    }

    .setupCheckBox {
        margin-top: 10px;
    }
    .setupCheckBox > label {
        margin-top: 10px;
    }

    .password {
        font-size: 15px;
        margin-right: 0px;
        margin-left: 0px;
        
    }

    .title {
        text-align: center;
        margin-left: 0;
    }
    
    .titlePage {
        font-size: 10px;
    }
}